<aside id="rechercher">
    <form method="post" action="{{ path('fiona_geek2geek_core_search') }}">
        <input type="submit" id="loupe" value="">
        <input type="text" name="gsearch" id="gsearch_top" placeholder="Rechercher...">
        <input type="hidden" name="ggender" value="BOTH">
    </form>
</aside>

<a href="{{ path('fiona_geek2geek_core_homepage') }}">
    <aside id="titre">
        <img src="{{ asset('images/gel.png') }}" width="60"/>
        Geek2geek
    </aside>
</a>
	