{% extends '::base.html.twig' %}

{% block content %}

        <header id="top"></header>

        <section id="wrapper">

            {% include 'FionaGeek2geekCoreBundle:Layout:topsearch.html.twig' %}


            <section id="corps">
                <header>
                    <h1>Welcome on Geek2geek</h1>
                    <h3>THE 100% GEEK DATING WEBSITE</h3>
                </header>

                <aside>
                    <strong>Geek2geek : </strong><br />
                    <br />
					<span>
					   Once upon a geek<br />
					   Who find his soulmate<br />
                       Among 10010 types of geek available<br />
                       Become that geek!<br />
					   100% free<br /><br />
					</span>

                    Good visit !
                </aside>

                <section>
                    <h1>Don't wait! Enter your informations</h1>
                    <br />

                    <form method="post" action="search">
                        <input type="text" name="gsearch" id="gsearch_bottom" placeholder="Search...">
                        <ul>
                            <li class="male"><input type="radio" name="ggender" value="MALE" id="gmale"> <label for="gmale">Men</label></li>
                            <li class="female"><input type="radio" name="ggender" value="FEMALE" id="gfemale"> <label for="gfemale">Woman</label></li>
                            <li class="both"><input type="radio" name="ggender" value="BOTH" CHECKED id="gboth"> <label for="gboth">Tous</label></li>
                        </ul>
                        <br />
                        <input type="submit" value="Search" name="valider_recherche" />
                    </form>
                </section>

            </section>
        </section>


{% endblock %}
