{% extends '::base.html.twig' %}

{% block content %}

        <header id="top"></header>

        <section id="wrapper">

            {% include 'FionaGeek2geekCoreBundle:Layout:topsearch.html.twig' %}


            <section id="corps">
                <header>
                    <h1>Bienvenue sur Geek2geek</h1>
                    <h3>Site de rencontre pour geek</h3>
                </header>

                <aside>
                    <strong>Geek2geek : site de rencontre pour geek</strong><br />
                    <br />
					<span>
					- Garanti sans failles XSS<br />
					- Garanti sans flash (caca)<br />
					- 0010 types de geek disponibles<br />
					- 100% Gratuit<br /><br />
					</span>

                    Bonne visite !
                </aside>

                <section>
                    <h1>Recherche</h1>
                    <br />

                    <form method="post" action="search">
                        <input type="text" name="gsearch" id="gsearch_bottom" placeholder="Search...">
                        <ul>
                            <li class="male"><input type="radio" name="ggender" value="MALE" id="gmale"> <label for="gmale">Homme</label></li>
                            <li class="female"><input type="radio" name="ggender" value="FEMALE" id="gfemale"> <label for="gfemale">Femme</label></li>
                            <li class="both"><input type="radio" name="ggender" value="BOTH" CHECKED id="gboth"> <label for="gboth">Tous</label></li>
                        </ul>
                        <br />
                        <input type="submit" value="Search" name="valider_recherche" />
                    </form>
                </section>

            </section>
        </section>


{% endblock %}
